@{
    ViewData["Title"] = "Online Bookstore";
}
@model ProjectListViewModel

<div class="text-center">
    <h1 class="display-4">Online Bookstore</h1>
</div>

<!-- Jumbotron Header -->
<header class="jumbotron my-4">
    <h1 class="display-3 text-center">Shop Now!</h1>
</header>

<!-- Looping through the model to display everything from project model.-->
<!-- Page Features -->
<div class="row text-center">
    @foreach (var x in Model.Projects)
    {


        <partial name="ProjectSummary" model="x"/>
    }
</div>

<!--Calling paginginfo from model which has all the variables with info for page-model-->
<div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true" page-class="btn"
     page-class-normal ="btn-outline-dark"
     page-class-selected="btn-primary" page-url-category="@Model.CurrentCategory"
     class="btn-group pull-right m-1"></div>
